/node_modules
/public/albuns/
/public/hot
/public/storage
/storage/*.key
/vendor
/ci
.env
.env.backup
.phpunit.result.cache
phpunit.coverage.xml
phpunit.report.xml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
.sonar
.scannerwork
